{% extends "layout/header.html" %}

{% block content %}

<body>
    <section>
        <div>
            <a href="{% url 'BB' %}"><img src="https://static.wikia.nocookie.net/breakingbad/images/7/78/Logo_breaking_bad.png/revision/latest/top-crop/width/360/height/450?cb=20180801024750&path-prefix=es" alt="Breaking Bad logo" width="360" height="450"></a>      
        </div>

        <div>
            <a href="{% url 'BetterCallSaul' %}"><img src="https://i.pinimg.com/originals/b5/7e/2a/b57e2a28ea0c8cde94f2939fef3901f4.jpg" alt="Better Call Saul logo" width="360" height="450"></a> 
        </div>

    </section>

</body>

{% endblock content %}