{% extends "layout/header.html" %}

{% block content %}

<div>
    <a href="{% url 'index' %}">Volver al menú principal</a>.
    <h1>Información  Personaje</h1>

    {% for key in personaje_info %}
        {% for keyyy, valueee in key.items %}

            {% if keyyy == "appearance" %}
                <p>Breaking Bad appearance:</p>
                {% if not valueee %}
                    <p>None.</p>
                {% endif %}
                {% for ele in valueee %}
                    <p><a href="/Breaking/{{ ele }}"> {{ ele }} </a></p>
                {% endfor %}
            {% endif %}

            {% if keyyy == "better_call_saul_appearance" %}
                <p>Better Call Saul appearance:</p>
                {% if not valueee %}
                    <p>None.</p>
                {% endif %}
                {% for ele in valueee %}
                    <p><a href="/BCS/{{ ele }}"> {{ ele }} </a></p>
                {% endfor %}
            {% endif %}

            {% if keyyy == "img" %}
                 <p> image: <img src="{{ valueee }}" alt="character image" width="200" height="300"> </p>
            {% endif %}

            {% if keyyy != "appearance" and keyyy != "img" and keyyy != "better_call_saul_appearance" %}
                <p> {{ keyyy }}: {{ valueee }} </p>
            {% endif %}

        {% endfor %}
    {% endfor %}
</div>

<div>
    <h1>Cuotas</h1>

    {% for key in cuota_personaje %}
        <p> {{ key }} </p>
    {% endfor %}
</div>

{% endblock content %}