* {
    box-sizing: border-box;
}

.brand-header {
    color: crimson;
    font-family: "Snell Roundhand";
    background-color: cyan;
    background: darkgoldenrod;
    font-size: larger;
    font-weight: bolder;
}